*{
    margin: 0px;
}

.Name:empty:focus::before{
    content:"Player";
}

body{
    margin: 5px;
    background-color: rgb(65, 97, 155);
    min-width: 1000px;
}
.Container{
    display: flex;
    margin-top: 10px;
}

.Branch_1,.Branch_2,.Branch_3,.Branch_4,.Branch_5{
    padding-left: 40px;
    width: 220px;
    flex-wrap: wrap;
    display: flex;
}

select.Result{
    font-size: 20px;
    border-radius: 4px;
}

label{
    display: flex;
    font-size: 18px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}

.grid{
    display: grid;
    grid-template-columns: 250px 40px;
}



div.Branch_2 div.Match_Flex div.Match_Grid{
    margin-top: 48px;
}
div.Branch_3 div.Match_Flex div.Match_Grid{
    margin-top: 118px;
}
div.Branch_4 div.Match_Flex div.Match_Grid{
    margin-top: 262px;
}
div.Branch_5 div.Match_Flex div.Match_Grid{
    margin-top: 548px;
}
div.Branch_6 div.Match_Flex div.Match_Grid{
    margin-top: 1128px;
}





/* Bracket */
.Match_Grid{
    display: grid;
    grid-template-columns: 180px 45px;
    grid-template-rows:  56px;
    background-color: rgb(32, 32, 32);
    margin-left: 10px; /*Korrekt*/
    border-radius: 5px;
    margin-top: 10px;
    justify-content: center;
    align-content: center;
    border: solid white 3px;
}


/* Bracket ->>>>>>>>>>>>>>>*/
input.IName{
    display: block;
    color: white;
    background: none;
    border:none;
    outline: none;
    padding-right: 4px;
    align-content: left;

}
Input.IResult{
    color: white;
    background: none;
    border:none;
    outline: none;
    width: 30px;
    text-align: center;
    justify-content: center;
    align-content: center;

}


/* Bracket ->>>>>>>>>>>>>>>*/
Div.Name{
    background-color: rgb(32, 32, 32);
    height: 22px;
    color: white;
    align-content: left;
    justify-content: center;
    align-content: center;
    padding: 3px;
}
Div.Result{
    background-color: rgb(43, 43, 43);
    color: white;
    height: 22px;
    width: 30px;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 3px;

}

/*----------------------------Pop Up----------------------------*/
/* Pop_Up */
.Container_For_name_Result{
    display: grid;
    grid-template-columns: 1fr 50px 50px 1fr;
}

.PopUp{
    top: 10%;
    left: 10%;
    min-width: 1000px;
    max-width: 900px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    /* <-------------------*/ 
    display: flex;
}

img{
    width: 60px;
    height: 60px;
    align-items: center;
}
.Move_Item{
justify-content: center;
align-items: center;
text-align: center;
}
.Move{
    padding-top: 10px;
color: rgb(167, 167, 167);
height: auto;
cursor: pointer;
background-color: rgb(167, 167, 167);

}
.Move:hover{
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(109, 109, 109);

}

.PopUp_Content{
    min-width: 750px;
    max-width: 750px;
    border-radius: 4px;
    text-align: left;
    padding: 10px;
    position: relative;
}

.Popup_Container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Close{
position: absolute;
top: 0;
right: 1%;
font-size: 42px;
transform: rotate(45deg);
cursor: pointer;
}

/*Pup up Name (Div)*/
.Pop_Name{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 2px;
    border: 1px black solid;
}

.Pop_Res{
justify-self: center;
}

hr{
    margin: 5px;
}

.Setting_text{
    font-weight: bold;
    font-size: 20px;
}

.Sheet:hover{
    background-color: rgb(58, 83, 58);
    border: 2px solid black;
    border-radius: 4px;
}


